.env
.envo
node_modules/

# Android SDK
android-sdk/

# Gradle
.gradle/
**/build/

# Local Android settings
local.properties

# APK/AAB
*.apk
*.aab

2chat-upload-key.jks
2chat-keystore-base64.txt

# Backup files
*.backup
*.backup2
