*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#000;
color:#fff;
}

.topbar{
position:sticky;
top:0;
display:flex;
align-items:center;
gap:15px;
padding:15px;
background:#111;
z-index:10;
}

.topbar button{
border:none;
background:none;
color:#fff;
font-size:22px;
cursor:pointer;
}

#trendingContainer{
padding:15px;
}

.trending-card{
display:flex;
gap:15px;
margin-bottom:18px;
background:#111;
padding:10px;
border-radius:12px;
cursor:pointer;
}

.trending-card video{
width:110px;
height:180px;
border-radius:10px;
object-fit:cover;
}

.info{
flex:1;
}

.rank{
font-size:22px;
font-weight:bold;
color:#FFD700;
margin-bottom:8px;
}

.username{
font-weight:bold;
margin-bottom:5px;
}

.stats{
margin-top:10px;
font-size:14px;
color:#bbb;
line-height:24px;
}

.bottom-nav{
position:fixed;
left:0;
bottom:0;
width:100%;
height:65px;
background:#111;
display:flex;
justify-content:space-around;
align-items:center;
border-top:1px solid #333;
z-index:1000;
}

.bottom-nav a{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
color:#bbb;
text-decoration:none;
font-size:12px;
flex:1;
}

.bottom-nav a.active{
color:#ff0050;
font-weight:bold;
}

.bottom-nav a i,
.bottom-nav a{
font-size:22px;
}

#trendingContainer{
padding:15px;
padding-bottom:90px;
}
